$font-stack: Helvetica, sans-serif;
$link-color: #00B7FF;

a {
  color: $link-color;
}

.brand-logo {
  margin-left: 0.25em;
}

#add-transaction-form {
  input {
    height: 2rem;
  }
  .row, .col {
    margin: 0.25rem 0;
  }
}

#transaction-history {
  .card-content {
    padding: 6px;
  }

  .row {
    margin-bottom: 0;
  }
}

.inline-form {
  display: inline-block;
}

span.ledger-name {
  display: inline-block;
  margin-left: 1em;
}
