<h4>Available Reports</h4>
<ul class="collection">
  <div class="collection-item avatar">
    <i class="material-icons circle green">account_balance</i>
    <a href="/reports/networth" class="title valign-center">Net Worth</a>
    <br>
    A summary of all the account balances for the currently selected ledger.
  </div>
  <div class="collection-item avatar">
    <i class="material-icons circle green">date_range</i>
    <a href="/reports/monthly" class="title valign-center">Monthly Report</a>
    <br>
    A summary for a month.
  </div>
</ul>
