<div id="nav-wrapper">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo left">Home</a>
      <ul id="nav-mobile" class="right">
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/reports">Reports</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </nav>
</div>
