<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/materialize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" defer src="/javascripts/materialize/materialize.min.js"></script>
    </script>
  </head>
  <body>
		<%- include('../partials/nav', {}); %>
		<div class="container">
			<%- body %>
		</div>
  </body>
</html>
