<h2 class="center">Project Two</h2>
<p>
  Welcome to <strong>Project Two</strong>, an accounts manager and report
  generator using a format similar to
  <a href="https://www.ledger-cli.org/">Ledger</a>.
</p>

<p>
  Here you can record your transactions, including split transactions and
  multiple currencies and then generate reports on your net worth, expense,
  cash flow, etc.
</p>

<p>
  Support for export/import of ledger files is also planned.
</p>

<div class="center-align">
  <a href="/login">
    <button class="waves-effect btn-large blue">Try it out (Register and Log
      In)</button>
  </a>
</div>
