<div class="row">
  <% if (info) { %>
  <p><%= info %></p>
  <% } %>
  <h4>Login</h4>
  <form class="col s12" action="/login" method="post">
    <div class="row">
      <div class="input-field col s4">
        <label for="username">username</label>
        <input type="text" name="username" id="username">
      </div>
      <div class="input-field col s4">
        <label for="password">password</label>
        <input type="password" name="password" id="password">
      </div>
      <input class="btn col s2" type="submit" value="Login">
    </div>
  </form>

  <h4>Register</h4>
  <form class="col s12" action="/register" method="post">
    <div class="row">
      <div class="input-field col s4">
        <label for="username">username</label>
        <input type="text" name="username" id="username">
      </div>
      <div class="input-field col s4">
        <label for="password">password</label>
        <input type="text" name="password" id="password">
      </div>
      <input class="btn col s2" type="submit" value="Register">
    </div>
  </form>
</div>
