<h4>Welcome, <i><%= user.username %></i></h4>
Your account was created <%= user?.createdAt.toLocaleString() %>
<br>
You have <%= user.ledgers.length %> ledgers.
<br><br>
Have a nice day...
<hr>
<div class="section">
<a class="btn" href="/logout">Log out</a>
</div>
