<h4>Edit Transaction </h4>
<form id="add-transaction-form" action="/transactions/<%= transaction.id %>?_method=put" method="post">
  <%- include('../partials/transaction-form', { transaction }) %>
</form>
<div class=row>
<a class="btn red col s3 push-s6" href='/transactions/<%= transaction.id %>?_method=DELETE'>Delete</a>
</div>
