<h4>Add a Transaction</h4>
<form id="add-transaction-form" action="/transactions" method="post">
  <div class="row">
    <div class="input-field col s4">
      <label for="date">date</label>
      <input placeholder="today" type="date" name="date" id="date">
    </div>
    <div class="input-field col s5">
      <label for="title">title</label>
      <input type="text" name="title" id="title">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6 push-s1">
      <label for="account-1">account name</label>
      <input type="text" name="account-1" id="account-1">
    </div>
    <div class="input-field col s2 push-s1">
      <label for="amount-1">amount</label>
      <input type="text" name="amount-1" id="amount-1">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6 push-s1">
      <label for="account-2">account name</label>
      <input type="text" name="account-2" id="account-2">
    </div>
    <div class="input-field col s2 push-s1">
      <label for="amount-2">amount</label>
      <input type="text" name="amount-2" id="amount-2">
    </div>
    <div class="input-field col s2 push-s1">
      <button class="btn">split</button>
    </div>
  </div>

  <input class="btn" type="submit" value="Add">
</form>

<div id="transaction-history">
  <div class="row">
    <div class="col s8">
      transaction.date
    </div>
    <div class="col s4 right">
      transaction.name
    </div>
  </div>
  <div class="row">
    <div class="col s8">
      transaction.account[0]
    </div>
    <div class="col s4 right">
      transaction.amount[0]
    </div>
  </div>
  <div class="row">
    <div class="col s8">
      transaction.account[1]
    </div>
    <div class="col s4 right">
      transaction.amount[1]
    </div>
  </div>
</div>
